*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden
}
// ========= mixins ===========
@import "./mixin";

//=========== nav ==============

nav{
    width: 100vw;
    @include center;
    padding: 1rem;
    transition: all .3s ease;
    img{
        width: 10vw;
        cursor: pointer;
        transition: all .3s ease;

        
        &:hover{
            border-bottom: 5px dotted black;
            transform: scale(1.1);

            
        }
    }
}

// ========card ===============
.CARD{
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    @include responsiveGrid;
    transition: all .3s ease;

    .innerCard{
        height: 200px;
        padding: 2rem;
        cursor: pointer;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        margin-bottom: 2rem;
        @include centerCol;

        &:hover{
            box-shadow: 1px 1px 20px aqua;
        }

    }
}

//video
.video{
    width: 100vw;
    height: 100vh;
    @include centerCol;
    div{
        margin-bottom: 1rem;
    }
    video{
        width: 50%;
        margin: 1rem;
    }
}

// ========= message ===========
@import "./message";

// ========basic ===============
.alert{
    position:fixed;
    right: 0;
    bottom: 40px;
    width: 300px;
    height: auto;
    background-color: lime;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 10px 0px 10px rgba(0, 0, 0, 0.44) , -5px 0 20px grey;
    p{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: lime;
        text-shadow: 1px 1px 5px black,-1px -1px 5px rgba(0, 0, 0, 0.427);
    }
}